.twitter-friends img{
	margin-right:5px;
}
#twitter-friends{
position:absolute;top:70px;margin-left:5px;margin-right:5px;margin-bottom:5px;
}

#twt-profile{
position:absolute;left:0px;width:48px;height:48px;margin:5px;
}

.twt_head{
color:#3B5998;position:absolute;left:80px;top:12px;Font-Family:"lucida grande",tahoma,verdana,arial,sans-serif;Font-Size:14px;line-height:15px;font-weight:bold;
}

.twitter-follow-button{
position:absolute;left:80px;top:36px;
}